.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #000000;
    z-index: 1000;
    position: fixed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 552px); /* 347px * 2 margins */
    height: 100%;
    margin: 0 276px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    color: #FFFBF2;
    font-size: 20px;
    font-weight: bold;
    margin-right: 200px;
}

.navigation {
}

.nav-item {
    color: #cdcdcd;
    margin-right: 74px;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
}



.profile-icon {
    color: #cdcdcd;
    font-size: 24px;
}

